// 应用于 API WebView 的样式表
@import "markdown";
@import "emojify";

.list-comment {
  margin: 0;
  padding: 0
}

.list-comment-item {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  line-height: 1.42857143;
  list-style: none;
}

.list-comment-item::before, .list-comment-item::after {
  content: "";
  display: table;
}

.list-comment-item::after {
  clear: both;
}

.list-comment-item:last-of-type {
  border-bottom: none;
}

.list-comment-item .avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-left: -3px;
  margin-right: 10px;
  border-radius: 100px;
}

.list-comment-item .meta a {
  padding: 1px 2px 1px 0;
  text-decoration: none;
  color: #B9BDCB;
}

.list-comment-item .meta {
  margin-bottom: 5px;
  font-size: 12px;
  color: #d0d0d0;
}

.list-comment-item .meta .topic-title {
  color: #428bca;
  font-size: 14px
}

.header-title {
  margin: 20px 0 10px;
  padding-bottom: 15px;
  border-bottom: 3px solid #eee;
}

.header-title h3 {
  font-family: 'Helvetica Neue';
  margin: 0;
  font-size: 25px;
}

.header-title p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  color: #ACACAC;
}

.content-blank {
  height: 100%;
  min-height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.markdown-content{
  font-family: 'Helvetica Neue', serif;
  line-height: 1.6em;
}

.topic-body{
  margin-bottom: 60px;
}